body {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
}

.header-area {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    background-color: #F3FCF7;
    height: auto;
}


.header {
    width: 1177px;
    height: 41.94px;
    margin: auto;
    display: flex;
    padding-top: 41px;
    justify-content: space-between;
    align-items: center;
}

.menu {

    display: flex;
    justify-content: space-around;
    gap: 30px;
    list-style: none;
    align-items: center;

}

.menu-link {
    text-decoration: none;
    color: #1D1D1F;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
}

.menu-link:hover {
    color: #06C167;
}

.hamburger {
    display: none;
}

.banner-area {
    width: 100%;
    max-width: 1177px;
    margin: 0 auto;
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.banner-text {
    width: 100%;
    max-width: 533px;
}

.banner-image img {
    width: 100%;
    height: 515.26px;

}

.banner-title {
    padding: 0;
    margin-bottom: 0;
}

.banner-title {
    font-weight: 600;
    font-size: 75px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 0;

}

.banner-para {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;
    letter-spacing: 0%;
    color: #1D1D1FBF
}

.banner-btn {
    width: 200px;
    height: 67.9px;
    background-color: #06C167;
    color: #FFFFFF;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
}

/* group logo */
.group-logo-area {
    width: 100%;
    max-width: 1194.84px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 60px auto;
    gap: 20px
}

.group-logo-area img {
    width: 100%;
    height: auto;
    display: block;
}

.services-area {
    width: 100%;
    max-width: 1170px;
    height: 187.73px;
    margin: auto;
    border-top: 1.5px solid #707070;
    border-bottom: 1.5px solid #707070;
}

.service-container {
    display: flex;
    justify-content: space-between;


}

.service {
    width: 209px;
    height: 69.9px;
    display: flex;
    align-items: center;
    padding-top: 60px;
    justify-content: space-evenly;
    gap: 10px
}

.service-text {
    padding-bottom: 20px;
    margin: 0;
}

.service-para {
    font-size: 18px;
    margin: 0;
    padding-top: 8px;
    font-weight: 400;
    color: #1D1D1F;
}

.service-span {
    font-size: 14px;
    font-weight: 500;
    color: #1D1D1F;
}

/* Health benefit */
.health-benefit {
    width: 100%;
    max-width: 1138px;
    height: 560.26px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 20px;
    align-items: center;
}

.health {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.health-image {
    width: 100%;
    max-width: 493px;
    height: 560.26px;
    background-color: #F3FAFB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.health-image img {
    width: 100%;
    max-width: 445px;
    height: 512.26px;
    border-radius: 12px;
    align-items: center;
}

.health-para {
    color: #1D1D1F;
    font-size: 16px;
}

.health-text {
    padding-top: 20px;
}

.health-title {
    font-size: 60px;
    font-weight: 500;
    line-height: 100%;
}

.check-icon {
    font-size: 20px;
    font-weight: 900;
    color: #06C167;
    padding-right: 8px;
}

/* Responsive navbar */
@media (max-width:768px) {
    .header-area {
        width: 100%;
        height: auto;
        padding: 10px 0;
        background-color: #F3FCF7;
        padding: 0 15px;
    }

    .header {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    /* Original menu */
    .menu {
        display: none;
        flex-direction: column;
        background-color: #F3FCF7;
        padding: 15px 20px;
        margin-top: 15px;
        width: 50%;
        border-radius: 8px;
        margin-top: 10px;
    }

    .menu.active {
        display: flex;
    }

    .hamburger {
        display: block;
        font-size: 25px;
        cursor: pointer;
        background: none;
        border: 2px solid #06C167;
        padding: 5px 10px;
        border-radius: 6px;
        color: #06C167;
    }

    .banner-area {
        padding-top: 20px;
        display: flex;
        flex-direction: column;

    }

    .banner-text {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .banner-title {
        font-size: 51px;
        font-weight: 600;
    }

    .banner-image img {

        width: 100%;
        height: auto;
        padding-top: 20px;
    }

    .banner-para {
        font-size: 13px;
    }

    .banner-btn {
        width: 150px;
        height: 50px;
        font-size: 14px;
    }

    /* group */
    .group-logo-area {
        width: 320px;
        margin: auto;
        align-items: center;
        padding-left: 25px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin: 10px;
    }

    .group-logo-area img:nth-child(n+4) {
        display: none;

    }

    .group-logo-area img:nth-child(3) {
        transform: translateX(80px);
        /* move up slightly */
    }

    /* service */
    .service-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 150px;
        gap: 25px;
    }

    .services-area {
        width: 100%;
        height: auto;
        margin-left: 10px;

    }

    .service {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Health */
    .health {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .health-benefit {
        width: 100%;
        margin: auto;
        padding: 0 16px;
        display: flex;
    }

    .health-text {
        padding: 10px 70px;
    }

    .health-para1 {
        text-align: center;
    }

    .mob-break {
        display: none;
    }

}