body {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
}

.header-area {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    background-color: #F3FCF7;
    height: auto;
}


.header {
    width: 1177px;
    height: 41.94px;
    margin: auto;
    display: flex;
    padding-top: 41px;
    justify-content: space-between;
    align-items: center;
}

.menu {

    display: flex;
    justify-content: space-around;
    gap: 30px;
    list-style: none;
    align-items: center;

}

.menu-link {
    text-decoration: none;
    color: #1D1D1F;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
}

.menu-link:hover {
    color: #06C167;
}

.hamburger {
    display: none;
}

.banner-area {
    width: 100%;
    max-width: 1177px;
    margin: 0 auto;
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.banner-text {
    width: 100%;
    max-width: 533px;
}

.banner-image img {
    width: 100%;
    height: 515.26px;

}

.banner-title {
    padding: 0;
    margin-bottom: 0;
}

.banner-title {
    font-weight: 600;
    font-size: 75px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 0;

}

.banner-para {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;
    letter-spacing: 0%;
    color: #1D1D1FBF
}

.banner-btn {
    width: 200px;
    height: 67.9px;
    background-color: #06C167;
    color: #FFFFFF;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
}

/* Responsive navbar */
@media (max-width:768px) {
    .header-area {
        width: 100%;
        height: auto;
        padding: 10px 0;
        background-color: #F3FCF7;
        padding: 0 15px;


    }

    .header {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    /* Original menu */
    .menu {
        display: none;
        flex-direction: column;
        background-color: #F3FCF7;
        padding: 15px 20px;
        margin-top: 15px;
        width: 50%;
        border-radius: 8px;
        margin-top: 10px;
    }

    .menu.active {
        display: flex;
    }

    .hamburger {
        display: block;
        font-size: 25px;
        cursor: pointer;
        background: none;
        border: 2px solid #06C167;
        padding: 5px 10px;
        border-radius: 6px;
        color: #06C167;
    }

    .banner-area {
        padding-top: 20px;
        display: flex;
        flex-direction: column;

    }

    .banner-text {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .banner-title {
        font-size: 51px;
        font-weight: 600;
    }

    .banner-image img {

        width: 100%;
        height: auto;
        padding-top: 20px;
    }

    .banner-para {
        font-size: 13px;
    }

    .banner-btn {
        width: 150px;
        height: 50px;
        font-size: 14px;
    }
}