body {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    color: #1D1D1F;
}

.header-area {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    background-color: #F3FCF7;
    height: auto;
}


.header {
    width: 1177px;
    height: 41.94px;
    margin: auto;
    display: flex;
    padding-top: 41px;
    justify-content: space-between;
    align-items: center;
}

.menu {

    display: flex;
    justify-content: space-around;
    gap: 30px;
    list-style: none;
    align-items: center;

}

.menu-link {
    text-decoration: none;
    color: #1D1D1F;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
}

.menu-link:hover {
    color: #06C167;
}

.hamburger {
    display: none;
}

.banner-area {
    width: 100%;
    max-width: 1177px;
    margin: 0 auto;
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.banner-text {
    width: 100%;
    max-width: 533px;
}

.banner-image img {
    width: 100%;
    height: 515.26px;

}

.banner-title {
    padding: 0;
    margin-bottom: 0;
}

.banner-title {
    font-weight: 600;
    font-size: 75px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 0;

}

.banner-para {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;
    letter-spacing: 0%;
    color: #1D1D1FBF
}

.banner-btn {
    width: 200px;
    height: 67.9px;
    background-color: #06C167;
    color: #FFFFFF;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
}

/* group logo */
.group-logo-area {
    width: 100%;
    max-width: 1194.84px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 60px auto;
    gap: 20px
}

.group-logo-area img {
    width: 100%;
    height: auto;
    display: block;
}

.services-area {
    width: 100%;
    max-width: 1170px;
    height: 187.73px;
    margin: auto;
    border-top: 1.5px solid #707070;
    border-bottom: 1.5px solid #707070;
}

.service-container {
    display: flex;
    justify-content: space-between;


}

.service {
    width: 209px;
    height: 69.9px;
    display: flex;
    align-items: center;
    padding-top: 60px;
    justify-content: space-evenly;
    gap: 10px
}

.service-text {
    padding-bottom: 20px;
    margin: 0;
}

.service-para {
    font-size: 18px;
    margin: 0;
    padding-top: 8px;
    font-weight: 400;
    color: #1D1D1F;
}

.service-span {
    font-size: 14px;
    font-weight: 500;
    color: #1D1D1F;
}

/* Health benefit */
.health-benefit {
    width: 100%;
    max-width: 1138px;
    height: 560.26px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.health {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.health-image {
    width: 100%;
    max-width: 493px;
    height: 560.26px;
    background-color: #F3FAFB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.health-image img {
    width: 100%;
    max-width: 445px;
    height: 512.26px;
    border-radius: 12px;
    align-items: center;
}

.health-para {
    color: #1D1D1F;
    font-size: 16px;
}

.health-text {
    padding-top: 40px;
}

.health-title {
    font-size: 60px;
    font-weight: 500;
    line-height: 100%;
}

.check-icon {
    font-size: 20px;
    font-weight: 900;
    color: #06C167;
    padding-right: 8px;
}

/* stats section */
.stats-section {
    width: 100%;
    max-width: 1170px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.stats {
    display: flex;
    justify-content: space-between;
}

.stats-text {
    padding-top: 40px;
}

.stats-details {
    display: flex;
    gap: 40px;
    padding-bottom: 40px;
}

.stats-image {
    background-color: #F3FCF7;
    width: 100%;
    max-width: 541px;
    height: 607.12px;
    display: flex;
    justify-content: flex-end;
}

.stats-image img {
    max-width: 445px;
    height: 512.26px
}

.stats-title {
    width: 100%;
    max-width: 570px;
    height: 145px;
    font-weight: 500;
    font-size: 60px;
    margin-bottom: 60px;
    margin-top: 10px;
}

.stats-number {
    color: #06C167;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    padding: 0;
    margin: 0;
}

/* food variety  */
.features-section {
    max-width: 1170px;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
}

.feature-badge {
    display: inline-block;
    padding: 6px 16px;
    background: #E8FFF1;
    border: 1.5px solid #06C167;
    border-radius: 10px;
    color: #06C167;
    font-weight: 500;
    margin-bottom: 15px;
}

.feature-title {
    font-size: 60px;
    margin-bottom: 40px;
    font-weight: 500;
    margin-top: 0;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

/* Cards */
.feature-card {
    background: #F0FFF6;
    padding: auto;
    text-align: left;
    border: 1.5px solid #06C167;

}

/* Image Cards */
.img-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Text Cards */
.text-card {
    background: #EFFFF6;
    padding-left: 25px;
    padding-top: 15px;
}

.text-card h3 {
    font-size: 32px;
    margin-bottom: 10px;
}

.text-card p {
    color: #444;
    margin-bottom: 40px;

}

.discover-btn {
    color: #06C167;
    font-weight: bold;
    text-decoration: none;
    background-color: #E6F9F0;
    padding: 14px;
    border-radius: 10px;
}

/* Popular section */
.popular-title {
    font-size: 60px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 4px;
}

.popular-section {
    width: 100%;
    max-width: 1170px;
    height: 617.5px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 100px
}

.product-card {
    width: 100%;
    max-width: 270px;
    height: 444px;
    border: 1.5px solid #06C167;
    text-align: center;
    padding-top: 30px;
    border-radius: 14px;
}

.product-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.product-image {
    padding-bottom: 20px;
}

.rating {
    color: #06C167;
    font-weight: 800;
    font-size: 25px;
    padding-bottom: 5px;
}

.price {
    padding-bottom: 20px;
}

.old-price {
    text-decoration: line-through;
    color: #767675;
    font-size: 20px;
    font-weight: 600px;
    line-height: 100%;
}

.new-price {
    color: #06C167;
    font-size: 20px;
    font-weight: 400px;
    line-height: 100%;
}

.buy-button {
    padding: 20px 30px;
    color: #06C167;
    border: 2px solid #06C167;
    border-radius: 10px;
    font-size: large;
}

.arrow-icon {
    padding-left: 20px;

}

.product-para {
    margin-top: 30px;

}

/* background card */
.background-card {
    width: 100%;
    max-width: 1170px;
    height: 458px;
    background-image: url(img/Rectangle\ 8.png);
    margin: 100px auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.background-title {
    padding-top: 60px;
    font-size: 60px;
    width: 100%;
    max-width: 799px;
    line-height: 100%;
    font-weight: 600;
    text-align: center;
    color: white;
}

/* footer */
.footer {

    padding: 40px 20px;
    font-family: 'Segoe UI', sans-serif;
    color: #333;
}

.footer-column img {
    margin-top: 20px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    max-width: 1170px;
    margin: auto;
}

.footer-column h2:nth-child(1) {
    color: #06C167;
}

.footer-column h2,
.footer-column h3 {
    color: #1D1D1F;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.footer-text {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 16px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #06C167;
}

.social-icons a {
    width: 24px;
    margin-right: 10px;
    color: #1D1D1F;
    gap: 10px
}

.subscribe-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.subscribe-form input {
    padding: 20px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 0;
    margin-top: 10px;
    background-color: #F0F1EC;
}

.subscribe-form button {
    background-color: #06C167;
    color: white;
    border: none;
    padding: 20px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #777;
}

/* Responsive navbar */
@media (max-width:768px) {
    .header-area {
        width: 100%;
        height: auto;
        padding: 10px 0;
        background-color: #F3FCF7;
        padding: 0 15px;
    }

    .header {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    /* Original menu */
    .menu {
        display: none;
        flex-direction: column;
        background-color: #F3FCF7;
        padding: 15px 20px;
        margin-top: 15px;
        width: 50%;
        border-radius: 8px;
        margin-top: 10px;
    }

    .menu.active {
        display: flex;
    }

    .hamburger {
        display: block;
        font-size: 25px;
        cursor: pointer;
        background: none;
        border: 2px solid #06C167;
        padding: 5px 10px;
        border-radius: 6px;
        color: #06C167;
    }

    .banner-area {
        padding-top: 20px;
        display: flex;
        flex-direction: column;

    }

    .banner-text {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .banner-title {
        font-size: 51px;
        font-weight: 600;
    }

    .banner-image img {

        width: 100%;
        height: auto;
        padding-top: 20px;
    }

    .banner-para {
        font-size: 13px;
    }

    .banner-btn {
        width: 150px;
        height: 50px;
        font-size: 14px;
    }

    /* group */
    .group-logo-area {
        width: 320px;
        margin: auto;
        align-items: center;
        padding-left: 25px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin: 10px;
    }

    .group-logo-area img:nth-child(n+4) {
        display: none;

    }

    .group-logo-area img:nth-child(3) {
        transform: translateX(80px);
        /* move up slightly */
    }

    /* service */
    .service-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 150px;
        gap: 25px;
    }

    .services-area {
        width: 100%;
        height: auto;
        margin-left: 10px;

    }

    .service {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Health */
    .health {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .health-benefit {
        width: 100%;
        margin: auto;
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        margin-bottom: 600px;
    }

    .health-text {
        padding: 10px 70px;
    }

    .health-para1 {
        text-align: center;
    }

    .mob-break {
        display: none;
    }

    /* stats*/
    .stats {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;

    }

    .stats-section {
        padding: 20px 16px;
        margin: 50px auto;
        width: 100%;
    }

    .stats-text {
        width: 100%;
        text-align: center;
    }

    .stats-details {
        flex-direction: column;
        text-align: center;
        padding-top: 40px;
    }

    .stats-image {
        display: flex;
        justify-content: center
    }

    .stats-image img {
        background-color: #F3FCF7;
        width: 100%;
        height: auto;

    }

    /* 
     */
    .feature-title {
        font-size: 32px;
    }

    .features-grid {
        grid-template-columns: 1fr;
        padding-left: 26px;
    }

    .feature-card {
        text-align: center;
    }

    .text-card {
        padding-bottom: 30px;

    }

    .feature-badge {
        color: #1D1D1F;
        border: 0;
        background-color: White;
    }

    .discover-btn {
        margin-bottom: 50px;
    }

    /* Products */
    .product-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .product-card {
        margin: 0;
        width: 120%;
        max-width: 360px;
        border: 2px solid #76767540;
        border-radius: 0;
        margin-bottom: 10px;
    }

    .popular-title {
        font-size: 36px;
        text-align: center;
    }

    .popular-section {
        height: auto;
        padding: 10px;
    }

    .product-para {
        margin-top: 30px;
        text-align: center;
    }

    .background-card {
        width: 100%;
        max-width: 440px;
        border-radius: 0;
        padding: 0 16px;
        margin-bottom: 50px;
    }

    /* foooter */


    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .footer-column {
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;
    }

    .subscribe-form {
        align-items: center;
    }

    .subscribe-form input {
        width: 100%;
        max-width: 250px;
        margin: 0 auto 10px;
    }

    .subscribe-form button {
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
    }

    .social-icons {
        justify-content: center;
        display: flex;
        gap: 10px;
    }

    .footer-bottom {
        text-align: center;
        padding-top: 20px;
    }

}